<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="employees">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="employees/Create">Create</a>
      </li>
    </ul>
  </nav>


   <!-- where to display the list and create page is just below the nav panel thats why router outlet is below the nav panel -->
  <router-outlet></router-outlet>
</div>